@model IEnumerable<_8._Music_portal.Models.UserModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                    <div class="div1">
                        @if (!item.Status.Value)
                        {
                            <a asp-action="Activate" asp-route-id="@item.Id">Activate</a>
                        }
                        else
                        {
                            <a asp-action="Block" asp-route-id="@item.Id">Block</a>
                        }
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
