@model IEnumerable<_8._Music_portal.Models.SongsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Top Music</h1>

<div class="flex external">
    <div >
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                <div class="div2">
                    <div>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <table>
                            <tr>
                                <td><p>@Html.DisplayNameFor(modelItem => item.Genre): </p></td>
                                <td><p> @Html.DisplayFor(modelItem => item.Genre.Name)</p></td> </tr>
                            <tr>
                                <td><p>@Html.DisplayNameFor(modelItem => item.Performer): </p></td>
                                <td><p> @Html.DisplayFor(modelItem => item.Performer.Name)</p></td></tr>
                            <tr>
                                <td colspan="2"><audio opacity="0" controls src='@Html.DisplayFor(modelItem => item.Track)'></audio></td>
                                <td></td>
                            </tr>
                        </table>
                        @* <audio opacity="0" controls src='@Html.DisplayFor(modelItem => item.Track)'></audio> *@
                        @if (Context.Session.GetString("Login") == "Admin")
                        {
                            <div class="div1">
                                <a class="botton" asp-controller="Songs" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="botton" asp-controller="Songs" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="botton" asp-controller="Songs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            }}
    </div>
 </div>
